{% extends 'public/layout.html' %}
{% block title %}Registrar Carro{% endblock %}

{% block body %}


<section>
    <h2>
        <a href="/" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
        Registrar Nueva Vacante
        <hr>
    </h2>

    <form action="{{ url_for('formAddCarro') }}" method="POST" class="mb-3" autocomplete="off" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <label for="marca">Carrera</label>
                <input type="text" name="marca" class="form-control" required>
            </div>
            <div class="col">
                <label for="modelo">Puesto de la carrera</label>
                <input type="text" name="modelo" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="year">Año de publicacion</label>
                <select name="year" class="form-control" required>
                    <option value="">--- Seleccione el año ---</option>
                    {% for year in range(2022,2009,-1) %}
                        <option value="{{ year }}"> {{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="color">Nivel TSU o Ingenieria</label>
                <select name="color" class="form-control" required>
                    <option value="">--- Seleccione el Nivel ---</option>
                    <option value="Rojo">T.S.U</option>
                    <option value="Gris">Ingenieria</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="puertas">Numeros de Vacantes</label>
                <select name="puertas" class="form-control" required>
                    <option value="">--- Seleccione las vacantes disponibles ---</option>
                    <option value="2">1</option>
                    <option value="4">2</option>
                </select>
            </div>

            <div class="col">
                <label for="puertas">Empresa favorita</label>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="favorito" value="Si" checked>
                    <label class="form-check-label" for="favorito">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="favorito" value="No">
                    <label class="form-check-label" for="favorito">No</label>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <label for="foto">Foto de la Vacante</label>
                <input type="file" name="foto" class="form-control-file" accept="image/*" required>
            </div>
        </div>
        <hr>

        <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" value="Guardar Registro">
    </form>
</section>

{% endblock %}